@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);@import url(//hello.myfonts.net/count/3a6bea);

@font-face {font-family: 'Bergen Mono';font-weight: 400;font-style: normal;src: url('assets/fonts/3A6BEA_0_0.eot');src: url('assets/fonts/3A6BEA_0_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_0_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_0_0.woff') format('woff'),url('assets/fonts/3A6BEA_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 800;font-style: italic;src: url('assets/fonts/3A6BEA_1_0.eot');src: url('assets/fonts/3A6BEA_1_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_1_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_1_0.woff') format('woff'),url('assets/fonts/3A6BEA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 800;font-style: normal;src: url('assets/fonts/3A6BEA_2_0.eot');src: url('assets/fonts/3A6BEA_2_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_2_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_2_0.woff') format('woff'),url('assets/fonts/3A6BEA_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 700;font-style: italic;src: url('assets/fonts/3A6BEA_3_0.eot');src: url('assets/fonts/3A6BEA_3_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_3_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_3_0.woff') format('woff'),url('assets/fonts/3A6BEA_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 700;font-style: normal;src: url('assets/fonts/3A6BEA_4_0.eot');src: url('assets/fonts/3A6BEA_4_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_4_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_4_0.woff') format('woff'),url('assets/fonts/3A6BEA_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 300;font-style: italic;src: url('assets/fonts/3A6BEA_5_0.eot');src: url('assets/fonts/3A6BEA_5_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_5_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_5_0.woff') format('woff'),url('assets/fonts/3A6BEA_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 300;font-style: normal;src: url('assets/fonts/3A6BEA_6_0.eot');src: url('assets/fonts/3A6BEA_6_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_6_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_6_0.woff') format('woff'),url('assets/fonts/3A6BEA_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 500;font-style: normal;src: url('assets/fonts/3A6BEA_7_0.eot');src: url('assets/fonts/3A6BEA_7_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_7_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_7_0.woff') format('woff'),url('assets/fonts/3A6BEA_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 500;font-style: italic;src: url('assets/fonts/3A6BEA_8_0.eot');src: url('assets/fonts/3A6BEA_8_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_8_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_8_0.woff') format('woff'),url('assets/fonts/3A6BEA_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 400;font-style: italic;src: url('assets/fonts/3A6BEA_9_0.eot');src: url('assets/fonts/3A6BEA_9_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_9_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_9_0.woff') format('woff'),url('assets/fonts/3A6BEA_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 400;font-style: normal;src: url('assets/fonts/3A6BEA_A_0.eot');src: url('assets/fonts/3A6BEA_A_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_A_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_A_0.woff') format('woff'),url('assets/fonts/3A6BEA_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 200;font-style: normal;src: url('assets/fonts/3A6BEA_B_0.eot');src: url('assets/fonts/3A6BEA_B_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_B_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_B_0.woff') format('woff'),url('assets/fonts/3A6BEA_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 200;font-style: italic;src: url('assets/fonts/3A6BEA_C_0.eot');src: url('assets/fonts/3A6BEA_C_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_C_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_C_0.woff') format('woff'),url('assets/fonts/3A6BEA_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 900;font-style: italic;src: url('assets/fonts/3A6BEA_D_0.eot');src: url('assets/fonts/3A6BEA_D_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_D_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_D_0.woff') format('woff'),url('assets/fonts/3A6BEA_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gordita';font-weight: 900;font-style: normal;src: url('assets/fonts/3A6BEA_E_0.eot');src: url('assets/fonts/3A6BEA_E_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3A6BEA_E_0.woff2') format('woff2'),url('assets/fonts/3A6BEA_E_0.woff') format('woff'),url('assets/fonts/3A6BEA_E_0.ttf') format('truetype');}
 
html {
  font-size: calc(15px + 6*(100vw - 320px)/1920);
  height: 100%;
  background: #000
}

body,html {
  overflow-x: hidden
}

body {
  margin: 0;
  padding: 2rem 0 0;
  min-height: 100%;
  color: #fff;
  background: radial-gradient(circle at top,#001218,#000);
  background-attachment: fixed;
  font-family: Gordita,sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .02em;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body :focus {
  outline-color: #2be1a4
}

main {
  padding: 2rem 3rem 2rem;
  position: relative;
  z-index: 100
}

@media (max-width: 700px) {
  main {
      padding:2rem 1rem
  }
}

section {
  position: relative;
  margin-bottom: 6rem
}

img, .venue-img {
  max-width: 100% !important;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 auto 1rem
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  font-weight: 800;
  text-align: center
}

.simple-page h2,.simple-page h3,.simple-page h4,.simple-page h5,.simple-page h6 {
  max-width: 32rem;
  text-align: left;
  margin: 0 auto 1rem
}

.simple-page h2 {
  color: #2be1a4;
}

.simple-page h1,.simple-page h2,.simple-page h3,.simple-page h4,.simple-page h5,.simple-page h6 {
  margin-top: 6rem
}

.simple-page p.lead {
  max-width: 42rem
}

.simple-page p a {
  color: #2be1a4
}

.simple-page p a:nth-child(odd) {
  color: #fd009d
}

.simple-page p a:nth-child(3n+1) {
  color: #fff444
}

.simple-page p a:hover {
  text-decoration: underline
}

.simple-page ul {
  max-width: 32rem;
  margin: 0 auto;
  line-height: 1.5
}

.simple-page img {
  display: block;
  max-width: 1200px;
  margin: 1rem auto 2rem;
}

h1 {
  font-size: 5rem;
}

h1.page-title {
  font-size: 7rem;
  max-width: 35rem;
  margin-top: 7rem;
  -webkit-text-stroke: .1rem #2be1a4;
  text-stroke: .1rem #2be1a4;
  color: transparent;
  line-height: 1;
  margin-bottom: 2rem
}

h2 {
  font-size: 2.4rem
}

h2.subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Bergen Mono",monospace;
  margin-bottom: 2rem
}

h2.section-heading {
  -webkit-text-stroke: .1rem #2be1a4;
  text-stroke: .1rem #2be1a4;
  color: transparent;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  max-width: none;
  text-align: center;
}

h3 {
  font-size: 2rem
}

a {
  color: #2be1a4;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer
}

a:hover {
  color: inherit
}

p {
  line-height: 1.6;
  max-width: 32rem;
  position: relative
}

p.lead {
  font-family: "Bergen Mono",monospace;
  font-size: 1.2rem;
  text-align: center
}

p a {
  color: #2be1a4
}

.button,input[type=submit] {
  display: block;
  text-align: center;
  background: #fd009d;
  color: #000;
  width: 36rem;
  max-width: 100%;
  margin: 1rem auto;
  font-size: 1rem;
  font-family: "Bergen Mono",monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .6em 1em;
  border: none;
  border-radius: 0
}

.button:hover,input[type=submit]:hover {
  -webkit-box-shadow: 0 0 10px #fd009d;
  box-shadow: 0 0 10px #fd009d;
  color: #fff
}

.iframe-wrapper {
  width: 100%;
  margin: 2rem auto;
  padding: 0 0 56.25% 0;
  position: relative
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.hero {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.light-theme {
  background: #fff;
  color: #000
}

.light-theme .simple-page h2 {
  color: #000000;
}

.light-theme .simple-page p a,.light-theme a {
  color: #3400e0
}

.light-theme .simple-page p a:nth-child(odd) {
  color: #fd009d
}

.light-theme .simple-page p a:nth-child(3n+1) {
  color: #921083
}

.light-theme .button {
  color: #000
}

.light-theme .button:hover {
  -webkit-box-shadow: 0 0 4px #fd009d;
  box-shadow: 0 0 4px #fd009d;
  color: #000
}

.light-theme h1.page-title {
  -webkit-text-stroke: 0;
  text-stroke: 0;
  color: #000
}

.light-theme h2.section-heading {
  -webkit-text-stroke: .1rem #000;
  text-stroke: .1rem #000
}

@media (max-width: 1000px) {
  h1.page-title {
      font-size:5rem
  }
}

@media (max-width: 700px) {
  h1.page-title {
      font-size:4rem;
  }
  h2.section-heading {
      font-size:3.5rem
  }
}

.fade-enter-active,.fade-leave-active {
  -webkit-transition: opacity .2s;
  transition: opacity .2s
}

.fade-enter,.fade-leave-to {
  opacity: 0
}

.tickets {
  display: block;
  background: transparent;
  border: 3px solid #fd009d;
  color: #fd009d;
  width: 36rem;
  max-width: 100%;
  margin: 1rem auto 2rem;
  padding: 1.2rem 1.5rem 1rem;
}

.tickets:hover {
  -webkit-box-shadow: 0 0 10px #fd009d,inset 0 0 10px #fd009d;
  box-shadow: 0 0 10px #fd009d,inset 0 0 10px #fd009d;
  text-shadow: 0 0 5px #fd009d
}

.tickets h1 {
  margin: 0;
  line-height: 1;
  font-size: 2rem;
  color: inherit;
  width: 100%
}

@media (max-width: 700px) {
  .tickets {
      width:100%
  }

  .tickets h1 {
      font-size: 1.4rem
  }
}

.light-theme .tickets {
  color: #fd009d;
}

.light-theme .tickets:hover {
  -webkit-box-shadow: 0 0 4px #fd009d,inset 0 0 4px #fd009d;
  box-shadow: 0 0 4px #fd009d,inset 0 0 4px #fd009d;
  text-shadow: 0 0 2px #fd009d;
  color: #fd009d;
}

.speaker-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.speaker-list .speaker {
  color: inherit;
  width: 33.333333%;
  margin: 0;
  position: relative;
  padding: 1rem;
  text-align: center
}

@media (min-width: 1400px) {
  .speaker-list .speaker {
      width:25%
  }
}

@media (max-width: 1000px) {
  .speaker-list .speaker {
      width:50%
  }
}

@media (max-width: 700px) {
  .speaker-list .speaker {
      width:100%
  }
}

.speaker-list .speaker:hover .speaker-image_fallback,.speaker-list .speaker:hover .speaker-image img {
  -webkit-box-shadow: 0 0 .8rem hsla(0,0%,100%,.3);
  box-shadow: 0 0 .8rem hsla(0,0%,100%,.3)
}

.speaker-list .speaker:hover .speaker-name span {
  color: #fff
}

.speaker-list .speaker-image {
  padding: 1rem;
  max-width: 20rem;
  margin: 0 auto
}

.speaker-list .speaker-image_fallback,.speaker-list .speaker-image img {
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.speaker-list .speaker-image_fallback {
  background: #001218;
  width: 100%;
  padding-top: 100%
}

.speaker-list .speaker-name {
  font-size: 2.1rem;
  margin-bottom: 0;
  position: relative;
  top: -4rem;
  z-index: 10;
  font-weight: 800;
  padding: .5rem .8rem .1rem;
  line-height: 1.56;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotateX(-2deg) rotateY(20deg);
  transform: rotateX(-2deg) rotateY(20deg)
}

.speaker-list .speaker-name span {
  background: #000;
  color: #2be1a4;
  -webkit-box-shadow: -.4rem 0 0 .4rem #000,.4rem 0 0 .4rem #000;
  box-shadow: -.4rem 0 0 .4rem #000,.4rem 0 0 .4rem #000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.speaker-list .speaker-text {
  width: 80%;
  margin: auto
}

.speaker-list .speaker-title {
  margin: -3rem auto 0;
  font-family: "Bergen Mono",monospace;
  line-height: 1.3rem;
  text-align: center
}

.speaker-list .speaker:nth-child(odd) {
  -webkit-perspective: 1200px;
  perspective: 1200px
}

.speaker-list .speaker:nth-child(odd) .speaker-name {
  -webkit-transform: rotateX(20deg) rotateY(-20deg);
  transform: rotateX(20deg) rotateY(-20deg)
}

.speaker-list .speaker:nth-child(even) {
  -webkit-perspective: -1200px;
  perspective: -1200px
}

.speaker-list .speaker:nth-child(even) .speaker-name {
  -webkit-transform: rotateX(-2deg) rotateY(20deg);
  transform: rotateX(-2deg) rotateY(20deg)
}

.buttonbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 42rem;
  margin: 2rem auto
}

.buttonbox .button {
  margin: .5rem .5rem
}

.light-theme .speaker-name span {
  background: #2be1a4;
  color: #000;
  -webkit-box-shadow: -.4rem 0 0 .4rem #2be1a4,.4rem 0 0 .4rem #2be1a4;
  box-shadow: -.4rem 0 0 .4rem #2be1a4,.4rem 0 0 .4rem #2be1a4
}

.light-theme .speaker:hover .speaker-name span {
  color: #001218
}

.friends {
  padding: 5rem 0
}

.friend-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.friend {
  display: block;
  color: inherit;
  width: 20%;
  margin: 0;
  position: relative;
  padding: 1rem;
  text-align: center
}

@media (min-width: 1400px) {
  .friend {
      width:15%
  }
}

@media (max-width: 1000px) {
  .friend {
      width:25%
  }
}

@media (max-width: 700px) {
  .friend {
      width:33.333333%
  }
}

.friend-logo {
  display: block;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%) invert(100%);
  filter: grayscale(100%) invert(100%)
}

.friend-logo.color,.light-theme .friend-logo {
  -webkit-filter: none;
  filter: none
}

.sb1u-bf4ever {
    background: url("/assets/sparebank1-neg.svg") no-repeat 50% 50%;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.light-theme .sb1u-bf4ever {
    background-image: url("/assets/sparebank1.svg");
}

.package-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 5rem auto;
}
.package {
  width: 49%;
  min-width: 20rem;
  background: #ffffff;
  color: #000000;
  padding: 3rem 5rem;
  margin: 1rem 0;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.package.gold {
  margin: auto;
}
.package h2, .package p {
  margin: 0;
}
.package h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #000000;
}
.diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 70px solid #fff444;
  position: absolute;
  top: -6rem;
  left: .5rem;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 70px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 70px solid #b6ab0d;
}
.diamond.silver {
  border-bottom: 70px solid #ccc;
}
.diamond.silver:after {
  border-top: 70px solid #999;
}
.diamond.bronze {
    border-bottom: 70px solid #F47C31;
}
.diamond.bronze:after {
  border-top: 70px solid #d1631e;
}

.intro {
  font-family: "Bergen Mono",monospace;
  margin: .5rem 0 4rem;
  width: 32rem;
  max-width: 66%;
  color: #fff
}

.index-title {
  font-size: 7rem;
  -webkit-text-stroke: .1rem #2be1a4;
  text-stroke: .1rem #2be1a4;
  color: transparent;
  max-width: 54rem;
  padding: 4rem 2rem 2rem;
  margin-bottom: 0;
  line-height: 1.05
}

.index-subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2be1a4;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 20rem;
  padding: 0 1rem;
  line-height: 1.3
}

.index-subtitle span {
  display: inline-block;
  position: relative
}

.index-subtitle span:after,.index-subtitle span:before {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: .1rem solid #2be1a4;
  top: 1.15em;
  width: 8rem;
  -webkit-box-shadow: 0 0 .5em hsla(0,0%,100%,.5);
  box-shadow: 0 0 .5em hsla(0,0%,100%,.5)
}

.index-subtitle span:before {
  right: 100%;
  margin-right: .1rem
}

.index-subtitle span:after {
  left: 100%;
  margin-left: .1rem
}

.hero {
  min-height: 66vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.hero .button {
  margin-bottom: 1rem
}

.button {
  cursor: pointer;
}

.hero-image {
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto 10rem;
  position: relative
}

.hero-image:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.hero-image-heading {
  margin: -5rem auto 0;
  font-size: 3rem;
  display: block;
  margin-bottom: 0;
  position: relative;
  top: -100%;
  z-index: 10;
  font-weight: 800;
  padding: .5rem .8rem .1rem;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotateX(-2deg) rotateY(20deg);
  transform: rotateX(-2deg) rotateY(20deg)
}

.hero-image-heading span {
  background: #2be1a4;
  color: #000;
  -webkit-box-shadow: -.4rem 0 0 .4rem #2be1a4,.4rem 0 0 .4rem #2be1a4;
  box-shadow: -.4rem 0 0 .4rem #2be1a4,.4rem 0 0 .4rem #2be1a4;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.video {
  width: 42rem;
  margin: 5rem auto 10rem
}

@media (max-width: 1000px) {
  .index-title {
      font-size:4.5rem;
      border-top: none
  }
}

@media (max-width: 700px) {
  .index-title {
      font-size:4rem;
      -webkit-text-stroke: .08rem #2be1a4;
      text-stroke: .08rem #2be1a4
  }

  h2.subtitle span {
      font-size: 1.3rem
  }

  .index-subtitle span:after,.index-subtitle span:before {
      width: 6rem
  }

  .intro {
      margin-bottom: 1rem
  }
}

.light-theme .intro {
  color: #000
}

.light-theme .index-title {
  -webkit-text-stroke: 0;
  text-stroke: 0;
  color: #000
}

.light-theme .index-subtitle {
  color: #000
}

.light-theme .index-subtitle span:after,.light-theme .index-subtitle span:before {
  border-bottom: .1rem solid #000
}

.light-theme .hero-heading span {
  background: #000;
  color: #2be1a4;
  -webkit-box-shadow: -.4rem 0 0 .4rem #000,.4rem 0 0 .4rem #000;
  box-shadow: -.4rem 0 0 .4rem #000,.4rem 0 0 .4rem #000
}

@media (max-width: 1000px) {
  .light-theme .index-title {
      padding:2.5rem 0 2rem;
      border-top: none
  }
}


svg {
  z-index: 666;
  width: 100%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
  -webkit-transform-origin: center;
  transform-origin: center
}

#banner-bg path,#banner path {
  fill: #2be1a4
}

#letters path,.light-theme #banner-bg path,.light-theme #banner path {
  fill: #000
}

.light-theme #letters path {
  fill: #2be1a4
}

.moon {
  width: .9rem;
  height: .9rem;
  display: inline-block;
  vertical-align: top;
  line-height: 1.6
}

.moon svg path {
  fill: #fff444
}

.site-header {
  padding: 0;
  font-family: "Bergen Mono",monospace
}

.main-nav .logo {
  width: 16rem;
  max-width: 30%;
  position: fixed;
  top: 4rem;
  right: -.9rem;
  z-index: 666;
  padding-bottom: 1.2rem
}

.main-nav .logo .dates {
  display: block;
  font-family: "Bergen Mono",monospace;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2be1a4;
  position: relative;
  right: 1.6rem;
  text-align: right;
  line-height: 1.1;
  margin-top: -.5rem
}

@media (max-width: 700px) {
  .main-nav .logo {
      position:absolute
  }
}

.main-nav .site-nav {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
  width: 100%
}

.main-nav .site-nav ul {
  padding: 0;
  position: fixed;
  z-index: 666;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: .6rem 1rem;
  background: #000
}

.main-nav .site-nav li {
  display: inline-block;
  padding: 0 1rem;
  text-align: center
}

.main-nav .site-nav li a {
  color: #fff444;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px
}

.main-nav .site-nav li.moon {
  position: relative;
  cursor: pointer
}

.main-nav .site-nav .menu-toggle {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background: #000;
  padding: .6rem 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

.menu-toggle span {
  vertical-align: middle;
  line-height: 1;

  display: none;
}

.menu-toggle-icon {
  width: 1rem;
  height: 1rem;
  stroke: #fff444;
  display: inline-block;
  vertical-align: middle;
  margin-right: .3rem;
}

.menu-toggle-icon line {
  stroke: #fff444;
}

.light-theme .menu-toggle-icon line {
  stroke: #ffffff;
}
.site-nav .menu-toggle-icon.close-icon {
  display: none;
}
.site-nav.open .menu-toggle-icon.open-icon {
  display: none;
}
.site-nav.open .menu-toggle-icon.close-icon {
  display: inline-block;
}

@media (max-width: 700px) {
  .main-nav .site-nav ul {
      display:-webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      height: 100vh;
      padding-bottom: 5rem;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
  }

  .main-nav .site-nav li {
      margin: 1.4rem auto;
      width: 100%;
      display: block
  }

  .main-nav .site-nav li a {
      font-size: 1.4rem;
      display: block;
      width: 100%
  }

  .main-nav .site-nav li.moon {
      display: block;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-top: auto
  }

  .main-nav .site-nav li:first-child {
      margin-top: auto
  }

  .main-nav .site-nav .menu-toggle {
      display: block;
      cursor: pointer
  }

  .main-nav .site-nav.open ul {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  .main-nav .site-nav.open .menu-toggle {
      margin: 0 auto 5rem;
      width: 100%
  }
}

.main-nav a {
  color: #2be1a4;
  text-decoration: none;
  position: relative
}

.main-nav a:focus,.main-nav a:hover {
  color: #2be1a4;
  font-weight: 700;
  border: none;
  padding: 0;
  margin: 0
}

.main-nav a:focus {
  color: #2be1a4
}

.light-theme .main-nav .dates {
  color: #000
}

.light-theme .main-nav .site-nav .menu-toggle,.light-theme .main-nav .site-nav ul {
  background: linear-gradient(45deg,#921083,#f47c31);
}
.light-theme .main-nav .site-nav li a {
  color: #ffffff;
}
.light-theme .main-nav .site-nav .menu-toggle svg {
  stroke: #ffffff;
}

.newsletter {
  background: transparent;
  -webkit-box-shadow: 0 0 0 2px #2be1a4;
  box-shadow: 0 0 0 2px #2be1a4;
  padding: 3rem 3rem;
  width: 42rem;
  max-width: 100%;
  margin: 2rem auto 4rem;
  position: relative;
  color: #2be1a4
}

.newsletter .close {
  display: block;
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
}

.newsletter.closed {
  visibility: hidden;
}

.newsletter h2.section-heading {
  font-size: 2rem;
}

.newsletter input {
  display: block;
  font-size: 1rem;
  font-family: Gordita,sans-serif;
  line-height: 1.5;
  width: 20rem;
  margin: 1rem auto;
  padding: .5rem 1rem;
  border: none;
  border-radius: 0
}

.mc-field-group {
  width: 100%;
  margin: 0 auto
}

.mc-field-group label {
  font-family: "Bergen Mono",monospace;
  margin: 0;
  padding: 2px 5px;
  display: block;
  background: #2be1a4;
  color: #000
}

.mc-field-group .email {
  width: 100%;
  margin: 0;
  padding: 1rem;
  border: none;
  font-family: "Bergen Mono",monospace
}

.mc-field-group .email:focus,.mc-field-group .email:hover {
  -webkit-box-shadow: 0 0 10px #2be1a4;
  box-shadow: 0 0 10px #2be1a4;
  outline: none
}

#mc-embedded-subscribe {
  font-family: "Bergen Mono",monospace;
  width: 100%;
  margin: 1rem auto;
  cursor: pointer;
  -webkit-appearance: none
}

@media (max-width: 700px) {
  .newsletter {
      width:94%
  }
}

.light-theme .newsletter {
  background: transparent;
  -webkit-box-shadow: 0 0 0 2px #000;
  box-shadow: 0 0 0 2px #000;
  color: #000
}

.light-theme .mc-field-group .email {
  border: 2px solid #000
}

.light-theme .mc-field-group label {
  background: #000;
  color: #fff
}

.site-footer {
  position: relative
}

.site-footer p {
  max-width: none
}

.some {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 9rem auto 1rem;
}

.some p {
  width: 100%
}

.some a {
  display: inline-block;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
}
.some a span {
  border-bottom: .2rem solid #2be1a4;
}
.some-icon {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;

  display: none;
}
.some-icon .fill-circle {
  fill: #2be1a4;
}
.light-theme .some-icon .fill-circle {
  fill: #000000;
}
.some.icons .some-icon, .some.icons-only .some-icon {
  display: inline-block;
}
.some.icons-only .some-icon {
  width: 4rem;
  height: 4rem;
}
.some.icons-only span {
  display: none;
}
.some.icons-only {
  max-width: 20rem;
}

.footer-nav {
  position: relative;
  font-family: "Bergen Mono",monospace;
  padding: .6rem 1rem .3rem;
  background: #000;
  width: 100%
}

.footer-nav a {
  display: inline-block;
  margin-right: 1rem;
  text-align: center;
  color: #fff444
}

.footer-nav .previous-years {
  text-align: center
}

.footer-nav .to-top {
  color: #fff;
  margin: 0;
  position: absolute;
  top: .5rem;
  right: 1rem
}

@media (max-width: 700px) {
  .footer-nav .to-top {
      position:static;
      display: block;
      text-align: center;
      margin: 1rem 0
  }
}

.light-theme .footer-nav p {
  color: #fff
}

.light-theme .some a {
  color: #000;
}

.oslo {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
}

.oslo svg {
  width: 100%;
  position: absolute;
  bottom: 0
}

@media (max-width: 700px) {
  .oslo svg {
      width:150%
  }
}

.light-theme .oslo {
  opacity: .2
}

.friends {
  padding: 2rem 3rem 2rem;
  position: relative;
  z-index: 100
}

@media (max-width: 700px) {
  .friends {
      padding:2rem 1rem
  }
}

.netlify {
  font-size: 12px;
  max-width: 90%;
  margin: 5rem auto 2rem;
  font-family: 'Bergen Mono', monospace;
  text-align: center;
}

.speaker-page {
  margin: 5rem 0
}

.speaker-page .speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: inherit;
  max-width: 50rem;
  margin: 0 auto 6rem;
  padding-top: 5rem
}

.speaker-page .speaker:first-child {
  padding-top: 0
}

.speaker-page .speaker-image {
  width: 30%;
  padding-right: 2rem
}

.speaker-page .speaker-image img {
  border-radius: 50%
}

.speaker-page .speaker-image_fallback {
  background: #001218;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%
}

.speaker-page .speaker-text {
  width: 70%
}

.speaker-page .speaker-text p {
  margin-left: 0
}

.speaker-page .speaker-name {
  font-size: 2.8rem;
  margin-bottom: 0;
  text-align: left
}

.speaker-page .speaker-title {
  margin-bottom: 1rem;
  font-family: Bergen Mono,monospace
}

.speaker-page .speaker-some {
  font-family: Bergen Mono,monospace;
  font-size: .8rem
}

.speaker-page .speaker-some .some-item {
  display: inline-block;
  margin-right: 1rem
}

.speaker-page .speaker .schedule-time {
  text-transform: uppercase;
  font-family: Bergen Mono,monospace;
  display: inline-block;
  color: #2be1a4;
  background: #000;
  padding: .2rem .8rem 0;
  margin-bottom: 1rem
}

.speaker-page .speaker .schedule-time:hover {
  color: #fd009d
}

.speaker-page .speaker .read-more {
  width: 100%;
  color: #fff;
  padding-top: 2rem;
  -webkit-box-ordinal-group: 4!important;
  -ms-flex-order: 3!important;
  order: 3!important
}

.speaker-page .speaker .read-more .content {
  display: none
}

.speaker-page .speaker .read-more.open .content {
  display: block
}

.speaker-page .speaker .header {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: 1.5rem;
  cursor: pointer
}

.speaker-page .speaker .header:after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: #fd009d
}

.speaker-page .speaker .header:hover {
  color: #fd009d;
  text-shadow: 0 0 5px #fd009d
}

.speaker-page .speaker .header:hover:after {
  -webkit-box-shadow: 0 0 10px #fd009d;
  box-shadow: 0 0 10px #fd009d
}

.speaker-page .speaker .header:hover .talk-title {
  color: #fff
}

.speaker-page .speaker .suptitle {
  font-family: Bergen Mono,monospace;
  display: block;
  margin-bottom: .5rem;
  color: #fd009d
}

.speaker-page .speaker .talk-title {
  text-align: left;
  font-size: 1.8rem;
  color: #fff
}

.light-theme .speaker-page .speaker .schedule-time {
  background: #fff444;
  color: #000
}

.light-theme .speaker-page .speaker .read-more {
  color: #000;
  border-color: #fd009d
}

.light-theme .speaker-page .speaker .header:hover {
  text-shadow: 0 0 2px #fd009d
}

.light-theme .speaker-page .speaker .header:hover:after {
  -webkit-box-shadow: 0 0 5px #fd009d;
  box-shadow: 0 0 5px #fd009d
}

.light-theme .speaker-page .speaker .header:hover .talk-title {
  color: #000
}

.light-theme .speaker-page .speaker .suptitle {
  color: #fd009d
}

.light-theme .speaker-page .speaker .talk-title {
  color: #000
}

.light-theme .speaker-page .speaker-some .some-item a {
  color: #3400e0
}

@media (max-width: 1000px) {
  .speaker-page .speaker .speaker-image {
      -webkit-box-ordinal-group:3;
      -ms-flex-order: 2;
      order: 2;
      width: 50%;
      padding-right: 0;
      padding-left: 2rem
  }

  .speaker-page .speaker .speaker-text {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 50%
  }
}

@media (max-width: 700px) {
  .speaker, .speaker-page .speaker {
    display: block;
    padding: 0 1rem;
    text-align: center;
  }

  .speaker-page .speaker .speaker-image {
      width: 60%;
      margin: 0 auto -1.5rem;
      padding: 0
  }

  .speaker-page .speaker .speaker-text {
      width: 100%
  }

  .speaker-page .speaker .schedule-time,.speaker-page .speaker .speaker-name,.speaker-page .speaker .speaker-title {
      text-align: center;
      margin-left: auto;
      margin-right: auto
  }

  .speaker-page .speaker .speaker-name {
      font-size: 2rem
  }

  .speaker-page .speaker .talk-title {
      font-size: 1.5rem;
      text-align: center
  }

  .speaker-page .speaker p {
      text-align: left;
      margin: 0 auto 1.5rem
  }

  .speaker-page .speaker .read-more .content p {
      width: 90%
  }
}

@media (min-width: 1000px) {
  .speaker-page .speaker:nth-child(2n) .speaker-image {
      -webkit-box-ordinal-group:3;
      -ms-flex-order: 2;
      order: 2
  }

  .speaker-page .speaker:nth-child(2n) .speaker-text {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1
  }
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1200px;
  margin: 5rem auto 5rem
}

.schedule-day {
  width: 45%
}

@media (max-width: 700px) {
  .schedule-day {
      width:100%
  }
}

.section-heading.schedule-title {
  font-size: 2.2rem
}

.schedule .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.8rem
}

.schedule .event .when {
  font-size: 1.2rem;
  width: 6rem;
  padding-right: 1rem;
  font-family: Bergen Mono,monospace
}

.schedule .event .what {
  width: 100%;
  font-family: Bergen Mono,monospace
}

.schedule .event .what h4 {
  font-family: Gordita,sans-serif
}

.schedule .event-title {
  margin: 0;
  line-height: 1.3;
  margin-bottom: .2rem;
  text-align: left;
  font-size: 1.4rem
}

.schedule .event.info {
  border-top: 2px solid #fd009d;
  border-bottom: 2px solid #fd009d;
  padding: .8rem 0
}

.schedule .event.info .event-title {
  color: #fd009d
}

.schedule .event.pause {
  border-top: 2px solid #fff444;
  border-bottom: 2px solid #fff444;
  padding: .8rem 0
}

.schedule .event.pause .event-title {
  color: #fff444
}

.schedule .event.party {
  border-top: 2px solid #fd009d;
  border-bottom: 2px solid #fd009d;
  padding: .8rem 0
}

.schedule .event.party .event-title {
  color: #fd009d
}

.jump {
  font-size: .8rem;
  margin-bottom: 2rem;
  text-align: right;
  display: none
}

@media (max-width: 700px) {
  .jump {
      display:block
  }

  .schedule-day {
      margin-bottom: 4rem
  }

  .schedule-day h2 {
      font-size: 1.8rem
  }
}

.light-theme .schedule .event.pause {
  border-top: 2px solid #f47c31;
  border-bottom: 2px solid #f47c31;
  padding: .5rem 0
}

.light-theme .schedule .event.pause .event-title {
  color: #f47c31
}

.map {
  max-width: 42rem;
  margin: 2rem auto;
}
.map .iframe-wrapper {
  margin-bottom: 10px;
}
.map ul {
  float: right;
  margin: 0;
  padding: 0;
}
.map ul li {
  display: inline;
  padding-right: 10px;
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1200px;
  margin: 5rem auto 5rem
}

.schedule-day {
  width: 45%
}

@media (max-width: 700px) {
  .schedule-day {
      width:100%
  }
}

.section-heading.schedule-title {
  font-size: 2.2rem
}

.schedule .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.8rem
}

.schedule .event .when {
  font-size: 1.2rem;
  width: 6rem;
  padding-right: 1rem;
  font-family: Bergen Mono,monospace
}

.schedule .event .what {
  width: 100%;
  font-family: Bergen Mono,monospace
}

.schedule .event .what h4 {
  font-family: Gordita,sans-serif
}

.schedule .event-title {
  margin: 0;
  line-height: 1.3;
  margin-bottom: .2rem;
  text-align: left;
  font-size: 1.4rem
}

.schedule .event.info {
  border-top: 2px solid #fd009d;
  border-bottom: 2px solid #fd009d;
  padding: .8rem 0
}

.schedule .event.info .event-title {
  color: #fd009d
}

.schedule .event.pause {
  border-top: 2px solid #fff444;
  border-bottom: 2px solid #fff444;
  padding: .8rem 0
}

.schedule .event.pause .event-title {
  color: #fff444
}

.schedule .event.party {
  border-top: 2px solid #fd009d;
  border-bottom: 2px solid #fd009d;
  padding: .8rem 0
}

.schedule .event.party .event-title {
  color: #fd009d
}

.jump {
  font-size: .8rem;
  margin-bottom: 2rem;
  text-align: right;
  display: none
}

@media (max-width: 700px) {
  .jump {
      display:block
  }

  .schedule-day {
      margin-bottom: 4rem
  }

  .schedule-day h2 {
      font-size: 1.8rem
  }
}

.light-theme .schedule .event.pause {
  border-top: 2px solid #f47c31;
  border-bottom: 2px solid #f47c31;
  padding: .5rem 0
}

.light-theme .schedule .event.pause .event-title {
  color: #f47c31
}
